@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
    } 
}
h1 {
    letter-spacing: 8px;
}
h5 {
    letter-spacing: 3px;
}

p {
  border-width: 10%;
}

.text-center {
  padding-top: 33%;
  padding-left: 10%;
  padding-right: 10%;
}

.container1 {
  background-color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
}

.container2 {
  background-color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 700px; }
.footer {
  background: #061D25;
  padding: 10px 0;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}
